.before-login-main {
  /* 배경화면에 나올 사진을 서버가 못 찾는데염 다시 고치셈 */
  background-image: url("https://archivenew.vop.co.kr/images/90952a5d266e2222a78d4eb07938162f/2018-05/26023757_DeDeCbRVQAAhzEb.jpg");
  background-size: 50% 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  color: #555555;
  font-size: 50px;
  text-align: center;
  display: block;
  margin-top: 32%;
}

.main-writer {
  font-size: 10px;
  text-align: center;
  display: block;
  margin-bottom: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-login-btn {
  display: inline-block;
  align-items: center;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  position: relative;
}
.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  opacity: 1;
  transition: 1s;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin : 0px;
  cursor: pointer;
} 
.p-20 {
  padding: 20px;
}
input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
} 
a {
  text-decoration: none;
  color: black;
}
.navbar {
  background: white;
  padding: 20px;
}
.navbar a, span {
  margin-right: 40px;
  text-decoration: none;
  color: black;
  font-size: large;
}
.logo {
  font-weight: bold;
}
.dark-mode .navbar {
  background-color: #222;
}
.dark-mode .navbar a{
  color: white;
}
.dark-mode .navbar span{
  color: white;
}