.title {
  text-align: center;
  width: 1000px;
  font-size: 5em;
  color: rgb(255, 123, 0);
  margin-top: 15%;
  margin-left: 25%;
  animation: titleChange 1.5s;
}
.titleArrow {
  margin-left: 48%;
  animation: titleArrowChange 1.5s;
}

@keyframes titleChange {
  from {
    color: white;
  }
  to {
    color: rgb(255, 123, 0);
  }
}
@keyframes titleArrowChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.comment1 {
  width: 350px;
  font-size: 5em;
  color: black;
  font-family: sans-serif;
  position: absolute;
  top: 80px;
  left: 400px;
  animation: slideLR 2s;
}

.comment2 {
  width: 350px;
  font-size: 5em;
  color: black;
  font-family: sans-serif;
  position: absolute;
  top: 160px;
  right: 400px;
  animation: slideRL 2s;
}

@keyframes slideLR {
  from {
    left: -400px;
    color: white;
  }
  to {
    left: 400px;
    color: black;
  }
}

@keyframes slideRL {
  from {
    right: -400px;
    color: white;
  }
  to {
    right: 400px;
    color: black;
  }
}