.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredContainer > * {
    margin: 0 2%;
}

.bestListTitle {
    font-family: sans-serif;
    font-size: 3em;
    text-align: center;
}