.btncontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.searchcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}
.searchInput {
  flex: 0;
  padding: 5px;
}
.searchbtn {
  height: 30px;
  margin-left: 5px;
}

.btn {
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 20px;
  background-color: aquamarine;
  color: black;
}